/* Equal Height Columns  */
.eqWrap {
  display: flex;
  .eq {
    /* padding: 10px; */
  }
  .eq:nth-of-type(odd) {

  }
  .eq:nth-of-type(even) {

  }
  .equalHW {
    flex: 1;
  }
  .equalHMWrap {
    justify-content: space-between;
  }
  .equalHM {
    width: 32%;
  }
  .equalHMRWrap {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .equalHMR {
    width: 32%;
    margin-bottom: 2%;
  }
  .equalHMVWrap {
    flex-wrap: wrap;
  }
  .equalHMV {
    width: 32%;
    margin: 1%;
  }
  .equalHMV:nth-of-type(3n) {
    margin-right: 0;
  }
  .equalHMV:nth-of-type(3n+1) {
    margin-left: 0;
  }
}

/* Opacity */
@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
